.image {
  position: relative;
}

.image > img {
  transition: ease-out 0.3s;
}

.loaded {
  opacity: 1;
  filter: blur(0px);
}

.error {
  filter: blur(0px) !important;
}

.image > .loader {
  object-fit: cover;
  object-position: center;
}

.loader {
  position: absolute;
  filter: blur(3.33px);
}

.hidden {
  opacity: 0;
  filter: blur(3.33px);
  overflow: hidden;
}